.homeContainer {
    /* position: absolute; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    padding: 2rem;
}


  @keyframes flicker{
    0%   {transform: rotate(-1deg);}
    20%  {transform: rotate(1deg);}
    40%  {transform: rotate(-1deg);}
    60%  {transform: rotate(1deg) scaleY(1.04);}
    80%  {transform: rotate(-2deg) scaleY(0.92);}
    100% {transform: rotate(1deg);}
  }

  .text {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
  }

  .title {
      color: var(--colors-yellow);
      font-size: 2.9rem;
      margin-bottom: -40px;
      text-align: justify;
  }

.lighter{
   
    color: var(--colors-red);
    /* margin-bottom: 100px; */
    font-variant: small-caps;
    font-weight: 900;
    font-size: 6rem;
}
